* {
    color: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
    font-size: 18px;

    font-family: system-ui, -apple-system, "Segoe UI", "Noto Sans JP", sans-serif;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

header h1 {
    font-size: 30px;
}

header .icons {
    margin-left: auto;
    display: flex;
    gap: 14px;
}

header .icon {
    font-size: 30px;
    cursor: pointer;
}


/* 色指定 */
.bg-base {
    background-color: #F8F8F8;
    color: #181818;
}
.dark .bg-base, .dark.bg-base {
    background-color: #181818;
    color: #F8F8F8;
}

.dark header {
    color: #F8F8F8;
}

.bg-surface {
    background-color: #FFFFFF;
    border: 1px solid #181818;
    color: #181818;
}
.dark .bg-surface {
    background-color: #1F1F1F;
    border-color: #F8F8F8;
    color: #F8F8F8;
}